
#root{
  margin: 1em;
  /*border: 1px solid grey;*/
  display: flex;
  min-width: 1200px;
}


.todoList{
  position: relative;
  border-radius: 4px;
  min-height: 100px;
  background: var(--medium--blue);
  padding: 0.7em;
  margin: 1em 0 1em 1em;
  float: left;
  min-width: 300px;
  overflow: scroll;
  height: 80vh;
}

.todoList h2{
  font-size: 1em;
  margin-bottom: 0.5em;
}

#to-do-list-button{
  margin-left: 0.5em;
}

.card{
  /*border: 1px solid blue;*/
  border-radius: 4px;
  display: flex;
  background: var(--light--blue);
  margin: 0.5em 0 0 0;
  padding: 0.5em;
  font-size: 0.9em;
  position: relative;

  display: flex;
  justify-content: space-between;

  cursor: pointer;
}

.card button{
  visibility: hidden;
  height: max-content;

  background: none;
  border: none;
  padding: 0.3em;
  
}


.card:hover button{
  visibility: visible;
}

.card button:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 4px;
  cursor: pointer;
}


.menuContainer{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.menu{
  top: 0;
  left: 0;
  background-color: rgb(235, 235, 235);
  width: 500px;
  min-height: 300px;

  margin: auto;

  padding: 1em;
  border-radius: 4px;
  
}

.menuTitle{
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.menuDescription{
  margin-bottom: 2em;
  line-height: 1.5em;
}

.menuDescription textarea{
  width: 100%;
  height: 5em;
  padding: 0.5em;
  font-size: 1.1em;
}

.comment{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.8em;
  margin-left:50px;
}

.commentsInput{
  margin-right: 0.5em;
}

.btn-save{
  background-color: var(--coral);
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: 0.5em;
  
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  width: 25px;
  height: 25px;
}

.delete-btn:before,
.delete-btn:after {
  content: '';
  width: 55%;
  height: 2px;
  background: var(--coral);
  position: absolute;
  top: 48%;
  left: 22%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.delete-btn:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.delete-btn:hover:before,
.delete-btn:hover:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}